services:
  php:
    image: fitopero/php_apache_without_node_for_nginx:v1
    # build:
    #   context: .
    container_name: php_server
    volumes:
      - .:/var/www/html
    depends_on:
      - db
      - redis
      - mailpit
    user: "1000:1000"
    networks:
      - network_app
  
  node:
    image: node:20-alpine
    container_name: node_server
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    command: sh -c "cd Laravel_app && npm install && npm run dev"
    ports:
      - "5173:5173"
    networks:
      - network_app

  nginx:
    image: nginx:1.27-alpine
    container_name: nginx_server
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - node
    networks:
      - network_app

  db:
    image: postgres:16-alpine
    container_name: db_database
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: laravel
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - network_app

  redis:
    image: redis:7-alpine
    container_name: laravel_redis
    networks:
      - network_app

  mailpit:
    image: 'axllent/mailpit:latest'
    container_name: laravel_mailpit
    ports:
      - "8025:8025"
    networks:
      - network_app

volumes:
  db_data:
  laravel_app:

networks:
  network_app:
    driver: bridge
